<div class="container">

		<div class="row mt-5">

			<div class="col">

				<ul class="d-flex align-items-center nav">

					<h4 class="text-primary">Fivefingers  </h4>


					<li><%= link_to "Seguir comprando", store_index_path , class: "mx-3" %> </li>

					<li><a href="#" class="nav-link">Pagar</a></li>

				</ul>
      </div>
    </div>
</div>
<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>

  <h2>Su carro FiveFingers</h2>
  <table>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td class="quantity"><%= line_item.quantity %></td>
        <td><%= line_item.product.title %></td>
        <td class="price"><%= number_to_currency(line_item.total_price) %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <th colspan="2">Total:</th>
        <td class="price"><%= number_to_currency(@cart.total_price) %></td>
      </tr>
    </tfoot>
  </table>
  <%= button_to 'Vaciar carro', @cart,
                method: :delete,
                data: { confirm: 'Are you sure?' } %>

</article>
