<div class="container">

		<div class="row mt-5">

			<div class="col">

				<ul class="d-flex align-items-center nav">

					<li><a href="#" class="nav-link">Inicio</a></li>

					<li><a href="#" class="nav-link">Blog</a></li>

					<li><a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Próximamente</a></li>

					<li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %></li>

				</ul>
      </div>
    </div>
</div>

<h1>Catalogo de Productos</h1>

<ul class="catalog">
  <% @products.each do |product| %>
    <li>
      <%= image_tag(product.image_url) %>
      <h2><%= product.title %></h2>
      <p>
        <%= sanitize(product.description) %>
      </p>
      <div class="price d-flex align-items-center btn-group">
        <%= number_to_currency(product.price) %>
        <%= button_to "Agregar al Carro", line_items_path(product_id: product), class: "mx-3 btn btn-lg btn-outline-primary"  %>

      </div>
    </li>
    <br>
  <% end %>
</ul>
